@using Microsoft.AspNetCore.Identity
@using WEB_053504_Mazurenko.Entites
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("Cart")
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@Url.Action("GetAvatar", "Image")" width="30"
                alt="User" class="rounded" />
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item-text">
                <img action="GetAvatar" controller="Image" class="rounded" width="50"/>
                @User.Identity.Name
            </li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Product" asp-action="UserProducts">Мои товары</a></li>
            <li>
                <form class ="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnurl="@ViewContext.HttpContext.Request.Path" method="post">
                    <button type="submit" class="dropdown-item">Log off</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </li>
}
</ul>
