@page "/counter"
@using WEB_053504_Mazurenko.Blazor.Client.Model

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber id="name" @bind-Value="exampleModel.Counter" />
    <button class="btn btn-outline-primary" type="submit">Submit</button>
</EditForm>


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private ExampleModel exampleModel = new ExampleModel();
    private int currentCount = 0;

    private void HandleValidSubmit() 
    {
        currentCount = (int)exampleModel.Counter;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
